---
site_name: "brc-schema"
theme:
  name: material
  palette:
    - media: '(prefers-color-scheme: light)'
      primary: green
      accent: light green
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: green
      accent: light green
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
  features:
    - content.tabs.link
plugins:
  - search
  - mermaid2
nav:
  - Index: index.md
  - CLI Usage: cli.md
  - About: about.md
site_url: https://bioenergy-research-centers.github.io/brc-schema
repo_url: https://github.com/bioenergy-research-centers/brc-schema
